/*
    Document   : Ext colors Light Wine Theme
    Created on : 01/01/2009, 11:33:04 AM
    Author     : Javier Rincon (syscobra) jjrincon@gmail.com
    Description:
        This is a file with all the colors from main ext theme separated for easy change.
        These colors changes has been applied:
        Original            Light Wine	Original            Light Wine
        Colors      to      Colors      Lines       to      Lines
        #083772     =>      #70082F     #1b376c     =>      #6B1A31
        #15428b     =>      #8A153B     #39b        =>      #BA338F
        #17385b     =>      #5A1733     #3b5a82     =>      #813A55
        #222        =>                  #6593cf     =>      #CE658C
        #222297     =>      #962721     #6fa0df     =>      #DE6F99
        #233d6d 	=>      #6C2337     #7eadd9     =>      #D87DA6
        #3764a0 	=>      #9F365E     #7FA9E4     =>      #E37EA2
        #393939     =>                  #84a0c4     =>      #C3829B
        #396095     =>      #94395B     #8BB8F3     =>      #F28BB2
        #416aa3     =>      #A14062     #8db2e3     =>      #E28DAD
        #444        =>                  #98c0f4     =>      #F396B9
        #777        =>                  #99bbe8     =>      #E798B6
        #999        =>                  #a3bae9     =>      #E8A1B3
        #aaa        =>                  #a9bfd3     =>      #D2A9BC
        #B8CFEE     =>      #EDB8CC     #aaccf6     =>      #F5AAC8
        #bbb        =>                  #ACA899     =>      #98ABA8
        #c3daf9     =>      #F8C3D7     #B5B8C8     =>      #C7B4B6
        #C7D6E9     =>      #E8C7D3     #c5d2df     =>      #DEC5D0
        #C7DFFC     =>      #FBC6DB     #d0d0d0     =>
        #CAD9EC     =>      #EBCAD6     #D1E4FD     =>      #FCD1E1
        #CCC        =>                  #ededed     =>
        #d2e0f2     =>      #F1D2DE
        #d9e8fb     =>      #FAD9E5
        #ddd        =>
        #ddecfe     =>      #FDDCE9
        #DFE8F6     =>      #F5DEE5
        #e0e0e0     =>
        #eee        =>
        #fafafa     =>
        #fff        =>
*/

/*
    All Colors
*/
a:link {color: #6B1A31;}
a:active {color: #BA338F;}
a:visited {color: #813A55;}
a:hover {color: #bbb;}

.ext-el-mask-msg div,.x-menu a.x-menu-item,.x-accordion-hd
{color:#222;}

.x-tab-strip span.x-tab-strip-text{color:#A14062;}

.x-tab-strip-active span.x-tab-strip-text,.x-fieldset legend,.x-form-check-group-label,.x-grid3-hd-text,
.x-grid3-locked td.x-grid3-row-marker div,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div,td.x-date-mp-month a,td.x-date-mp-year a,
td.x-date-mp-month a:hover,td.x-date-mp-year a:hover,.x-combo-list-hd,.x-panel-tl .x-panel-header,.x-panel-header,.x-window-tl .x-window-header
{color:#8A153B!important;}

.x-tab-strip-disabled .x-tabs-text{color:#aaa;}

.x-form-invalid-msg{color:#e00;}

.x-btn-disabled *{color:gray!important;}

.x-toolbar .x-item-disabled{color:gray;}
.x-toolbar .x-item-disabled *{color:gray;}

.x-paging-info,.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner,.x-tree-node-loading a span,.x-tip .x-tip-header-text,.x-tip .x-tip-body
{color:#444;}


.x-grid3-cell-selected,.x-grid3-cell-selected span,
.x-grid3-cell-selected .x-grid3-cell-text,.x-grid3-locked td.x-grid3-row-marker,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker,
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner,.x-dd-drag-ghost,.x-tree-node,.x-tree-node a,.x-dd-drag-ghost a,
.x-tree-node a span,.x-dd-drag-ghost a span,.x-tree-node .x-tree-node-disabled a span,.x-date-inner a,
.x-date-inner .x-date-active,.x-date-inner a:hover,.x-date-inner .x-date-disabled a:hover,.x-date-mmenu .x-menu-item
{color:black!important;}

.x-grid-group-hd div{color:#9F365E;}

.x-date-middle,.x-date-left,.x-date-right,.x-date-middle .x-btn .x-btn-text,.x-date-mp-btns button,.x-progress-text
{color:#fff;}

.x-date-inner th{color:#6C2337;}
.x-date-inner .x-date-prevday a,.x-date-inner .x-date-nextday a{color:#aaa;}

.x-date-inner .x-date-disabled a{color:#bbb;}

.x-menu-item-active a.x-menu-item{color:#660000;}

.x-box-mc{color:#393939;}
.x-box-blue .x-box-mc h3{color:#5A1733;}

#x-debug-browser .x-tree .x-tree-node a span{color:#962721;}
#x-debug-browser .x-tree a i{color:#FF4545}
#x-debug-browser .x-tree a em{color:#999;}

.x-progress-text-back{color:#94395B;}

/*
    background-color
*/

.ext-el-mask,.x-spotlight,.x-dlg-mask
{background-color:#CCC;}

.x-form-select-one,.x-grid3,
.x-dd-drag-ghost,.x-tree .x-panel-body,.x-dd-drag-ghost,.ext-strict .ext-ie6 .x-layout-split
{background-color:#fff!important;}

.ext-safari .x-form-invalid{background-color:#fee;}

.x-grid3-row-alt{background-color:#fafafa;}

.x-grid3-resize-proxy,.x-grid3-resize-marker
{background-color:#777;}

.x-grid3-cell-selected{background-color:#EDB8CC!important;}

.x-tree-node .x-tree-node-over{background-color:#eee;}

.x-tree-node .x-tree-selected,.x-layout-collapsed-over
{background-color:#FAD9E5;}

.x-menu-sep{background-color:#e0e0e0;}

.x-box-blue .x-box-mc{background-color:#F8C3D7;}

.x-layout-collapsed{background-color:#F1D2DE;}

/*
    background
*/
body { background: #F8C3D7;}

.ext-el-mask-msg div,.x-date-inner .x-date-disabled a,.x-date-mmenu
{background:#eee!important;}

.x-color-palette a:hover,.x-color-palette a.x-color-palette-sel,
.x-tab-panel-header,.x-tab-panel-footer,.x-tab-panel-header-plain .x-tab-strip-spacer,.x-tab-panel-footer-plain .x-tab-strip-spacer,
.x-date-inner a:hover,.x-date-inner .x-date-disabled a:hover,td.x-date-mp-month a:hover,td.x-date-mp-year a:hover,.x-combo-list
{background:#FDDCE9;}

.x-window-body{background:#F8C3D7;}

.x-panel-ghost,.ext-el-mask-msg,.x-dd-drag-proxy .x-grid3-hd-inner{background:#F5DEE5;}

.x-panel-mc{background:#F5DEE5}

.x-ie-shadow{background:#777;}

.x-tab-panel-body,.x-editor .x-form-check-wrap,.x-editor .x-form-radio-wrap,.x-resizable-handle,.x-resizable-overlay,
.x-props-grid .x-grid3-body .x-grid3-td-name,.x-date-picker,.x-date-mp,.x-menu-plain,.x-panel-body,.x-html-editor-wrap
{background:#fff!important;}

.x-grid3-row-selected,.x-cycle-menu .x-menu-item-checked,.x-combo-list .x-combo-selected,.x-window-mc,.x-border-layout-ct
{background:#F5DEE5!important;}

.x-tree-node .x-tree-drag-append a span{background:#ddd;}

.x-date-mp-btns button{background:#70082F;}


.x-view-selector,#x-debug-browser .x-tree .x-tree-node .x-tree-selected a span
{background:#F8C3D7;}

.x-window-proxy{background:#FBC6DB;}

.x-window-plain .x-window-mc{background:#EBCAD6;}
.x-window-plain .x-window-body{background:transparent!important;}

body.x-body-masked .x-window-plain .x-window-mc{background:#E8C7D3;}

/*
    border
*/

.ext-el-mask-msg{border:1px solid #CE658C;}
.ext-el-mask-msg div{border:1px solid #E8A1B3;}

.x-color-palette a{border:1px solid #fff;}
.x-color-palette a:hover,.x-color-palette a.x-color-palette-sel{border:1px solid #F28BB2;}
.x-color-palette em{border:1px solid #98ABA8;}

.x-tab-panel-header,.x-tab-panel-footer{border:1px solid #E28DAD;}
.x-tab-panel-header{border:1px solid #E28DAD;}
.x-tab-panel-footer{border:1px solid #E28DAD;}
.x-tab-panel-header-plain .x-tab-strip-spacer,.x-tab-panel-footer-plain .x-tab-strip-spacer{border:1px solid #E28DAD;}
.x-tab-panel-body{border:1px solid #E28DAD;}
.x-tab-panel-bbar .x-toolbar{border:1px solid #E798B6;}
.x-tab-panel-tbar .x-toolbar{border:1px solid #E798B6;}

.x-form-text,textarea.x-form-field{border:1px solid #C7B4B6;}
.x-form-select-one{border:1px solid #C7B4B6;}
.x-form-focus,textarea.x-form-focus{border:1px solid #D87DA6;}

.ext-safari .x-form-invalid{border:1px solid #ff7870;}

.x-fieldset{border:1px solid #C7B4B6;}

.x-resizable-proxy{border:1px dashed #813A55;}

.x-grid-panel .x-panel-mc .x-panel-body{border:1px solid #E798B6;}

.x-grid3-row-over{border:1px solid #ddd;}
.x-dd-drag-proxy .x-grid3-hd-inner{border:1px solid #F5AAC8;}
.x-grid3-row-selected{border:1px dotted #E8A1B3;}

.x-view-selector{border:1px dotted #BA338F;}

.x-tree-node .x-tree-drag-append a span{border:1px dotted gray;}

.x-date-inner td{border:1px solid #fff;}
.x-date-inner .x-date-selected a{border:1px solid #E28DAD;}

td.x-date-mp-sel a{border:1px solid #E28DAD;}

.x-menu{border:1px solid #ddd;}
.x-menu-item-active{border:1px solid #ccc;}
.x-cycle-menu .x-menu-item-checked{border:1px dotted #E8A1B3!important;}

.x-combo-list{border:1px solid #F396B9;}
.x-combo-list-item{border:1px solid #fff;}
.x-combo-list .x-combo-selected{border:1px dotted #E8A1B3!important;}

.x-panel-header{border:1px solid #E798B6;}

.x-panel-tl .x-panel-header{border:0 none;}
.x-panel-dd-spacer{border:2px dashed #E798B6;}

.x-window-proxy{border:1px solid #E798B6;}
.x-window-mc{border:1px solid #E798B6;}

.x-html-editor-wrap{border:1px solid #D2A9BC;}

.x-accordion-hd{border-top:0 none;}

.x-layout-collapsed{border:1px solid #F396B9;}

.x-progress-wrap{border:1px solid #CE658C;}
/*
    border-bottom
*/
ul.x-tab-strip-top{border-bottom:1px solid #E28DAD;}
.x-tab-scroller-left{border-bottom:1px solid #E28DAD;}
.x-tab-scroller-right{border-bottom:1px solid #E28DAD;}

.x-form-check-group-label{border-bottom:1px solid #E798B6;}
.x-form-field-wrap .x-form-trigger{border-bottom:1px solid #C7B4B6;}
.x-item-disabled .x-form-trigger-over{border-bottom:1px solid #C7B4B6;}
.x-item-disabled .x-form-trigger-click{border-bottom:1px solid #C7B4B6;}

.x-tree-node div.x-tree-drag-insert-below{border-bottom:1px dotted #36c;}

.x-grid-group-hd{border-bottom:2px solid #E798B6;}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a{border-bottom:2px solid #36c;}

.x-date-inner th{border-bottom:1px solid #E8A1B3;}

.x-menu-sep{border-bottom:1px solid #fff;}

.x-combo-list-hd{border-bottom:1px solid #F396B9;}
.x-resizable-pinned .x-combo-list-inner{border-bottom:1px solid #F396B9;}

.x-panel-ghost .x-window-tl{border-bottom:1px solid #E798B6;}
.x-panel-collapsed .x-window-tl,.x-panel-tl{border-bottom:1px solid #C3829B;}

/*
    border-top
*/

ul.x-tab-strip-bottom{border-top:1px solid #E28DAD;}

.x-tree-node div.x-tree-drag-insert-above{border-top:1px dotted #36c;}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a{border-top:2px solid #36c;}

.x-date-bottom{border-top:1px solid #E8A1B3;}
.x-date-mp-btns td{border-top:1px solid #DEC5D0;}

.x-panel-body-noheader,.x-panel-mc .x-panel-body{border-top:1px solid #E798B6;}
/*
    border combinations
*/

.x-toolbar{border-color:#D2A9BC;border-style:solid;border-width:0 0 1px 0;}

.x-statusbar .x-status-text-panel{border-top:1px solid #E798B6;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #E798B6;}

.x-grid3-hd-row td{border-left:1px solid #eee;border-right:1px solid #d0d0d0;}
.x-grid3-row{border:1px solid #ededed;border-top-color:#fff;}
.x-grid3-header-pop{border-left:1px solid #d0d0d0;}
.x-grid3-header-pop-inner{border-left:1px solid #eee;}
td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open{border-left:1px solid #F5AAC8;border-right:1px solid #F5AAC8;}

.x-grid3-locked td.x-grid3-row-marker,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{border-top:1px solid white;border-bottom:none!important;border-right:1px solid #DE6F99!important;}
.x-grid3-bottombar .x-toolbar{border-right:0 none;border-bottom:0 none;border-top:1px solid #D2A9BC;}

.x-props-grid .x-grid3-body .x-grid3-td-name{border:0 none;border-right:1px solid #eee;}
.x-dd-drag-ghost{border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #bbb;border-bottom:1px solid #bbb;}

.x-date-picker{border:1px solid #6B1A31;border-top:0 none;}

.x-date-mp-btns button{border:1px solid;border-color:#36c #005 #005 #36c;}
td.x-date-mp-sep{border-right:1px solid #DEC5D0;}

.x-combo-list .x-toolbar{border-top:1px solid #F396B9;border-bottom:0 none;}

.x-panel{border-style:solid;border-color:#E798B6;border-width:0;}
.x-panel-body{border:1px solid #E798B6;border-top:0 none;}
.x-panel-bbar .x-toolbar{border:1px solid #E798B6;border-top:0 none;}
.x-panel-tbar .x-toolbar{border:1px solid #E798B6;border-top:0 none;}
.x-panel-tbar-noheader .x-toolbar,.x-panel-mc .x-panel-tbar .x-toolbar{border-top:1px solid #E798B6;border-bottom:0 none;}
.x-panel-ghost ul{border:1px solid #E798B6;border-top:0 none;}

.x-window-bbar .x-toolbar{border-top:1px solid #E798B6;border-bottom:0 none;}

.x-window-plain .x-window-mc{border-right:1px solid #F5DEE5;border-bottom:1px solid #F5DEE5;border-top:1px solid #E8A1B3;border-left:1px solid #E8A1B3;}
.x-window-plain .x-window-body{border-left:1px solid #F5DEE5;border-top:1px solid #F5DEE5;border-bottom:1px solid #E8A1B3;border-right:1px solid #E8A1B3;}

.x-panel-noborder .x-panel-header-noborder, .x-tab-panel-tbar-noborder .x-toolbar, .x-panel-noborder .x-panel-tbar-noborder .x-toolbar{border-width:0;border-bottom:1px solid #E798B6;}
.x-panel-noborder .x-panel-bbar-noborder .x-toolbar{border-width:0;border-top:1px solid #E798B6;}
.x-tab-panel-bbar-noborder .x-toolbar{border-width:0;border-top:1px solid #E798B6;}

.x-progress-bar{border-top:1px solid #FCD1E1;border-bottom:1px solid #E37EA2;border-right:1px solid #E37EA2;}