/*
*   Hoja de estilo para menus
*/
BODY { background-color: #d0a070; }

.menuBar {
  background-color: #c09070;
  border: 2px solid;
  border-color: #e0b090 #906040 #906040 #e0b090;
  padding: 1px 4px;
}

.menuPad {
  background-color: #c09070;
  border: 2px solid;
  border-color: #e0b090 #906040 #906040 #e0b090;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 1px solid #c09070;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}
.menuItemOn {
  background-color: transparent;
  border: 1px solid #c09070;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border-color: #e0b090 #906040 #906040 #e0b090;
}
.menuItemDown {
  background-color: transparent;
  border: 1px solid #c09070;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  margin-top:1px; margin-left:1px;
  background-color: #906040;
  border-color: #704020 #e0b090 #e0b090 #704020;
}

.menuItemSub {
  background-color: transparent;
  border: 1px solid #c09070;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #906040;
  background-color: #906040;
}

.holderSpace {
  border: 1px solid #c09070;
  color: #c09070;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff0d0;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff0d0;
  font-weight: bold;
}
.menuInfo { padding: 2px 6px 2px 6px; }

.tagOff { width:8px; height:12px; float:right; background:url("images/tagRN.gif") no-repeat bottom; }
.tagOn { width:8px; height:12px; float:right; background:url("images/tagRH.gif") no-repeat bottom; }

.separatorT { background-color:#906040; height:1px; margin-top:3px; }
.separatorB { background-color:#e0b090; height:1px; margin-bottom:3px; }

